# macOS
.DS_Store

# Xcode
*.xcuserdatad
*.xcuserdata/
*.xcuserstate
DerivedData/
build/

# Scheme Management (optional)
xcshareddata/xcschememanagement.plist

# Swift Package Manager
.swiftpm/
Package.resolved

# CocoaPods (if used)
Pods/
*.xcworkspace
